body {
	margin: 10px;
	background-color: #222;
}
canvas, textarea {
	margin: 5px;
	vertical-align: top;
}
textarea {
	background-color: #1c1c1c;
	padding: 10px;
	color: #ccc;
	width: 300px;
	height: 400px;
	resize: none;
}
